h1{
    font-family: 'SimSun';
    font-size: 48px;
    font-weight: bold;
    color: #3a3f43 ;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eeeeee;
}

header{
    height: 250px;
    text-align: center;
}

main{
    width: 80vw;
    height: 300px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
}

.ball{
    width: 80px;
    height: 80px;
    background-color: #666c7b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #3a3f43;
}
