body{
    background-color: #e4e4e4;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-family: 'SimSun';
    font-size: 48px;
    font-weight: bold;
    color: #142143 ;
    text-align: center;
}

/* 開始畫面 */
#startScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f0f0f0;
    margin: 0;
}

/* 遊戲畫面 */
#gameScreen {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 33.33vw;
    height: 95vh;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
}

/* 每個長條容器 */
.bar-container {
    width: 20%; /* 每個容器的寬度為區域的 1/5 */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; /* 高度調整為容納長條和文字 */
}

/* 長條設計 */
.bar {
    width: 100%; /* 長條寬度充滿容器 */
    height: 90%; /* 長條高度 */
    background-color: #4CAF50;
    border-radius: 5px;
}

/* 標籤設計 */
.key {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

.moving-block {
    position: absolute;
    width: 18%;
    height: 25px; /* 每個小方塊的高度 */
    background-color: #e74c3c;
    top: -30px;  /* Start position above the screen */
    opacity: 0;  /* Initially hidden */
}
