body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

#startScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#songSelector{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

#songInfo{
    text-align: center;
    margin: 0 10px;
}

#songCover{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

#prevButton, #nextButton{
    font-size: 24px;
    background-color: #ccc;
    border: none;
    padding: 10px;
    margin: 100px;
    cursor: pointer;
}

#startButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}


#gameScreen{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

#endScreen{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#barContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.bar{
    width: 60px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
}

.moving-block{
    width: 100%;
    height: 20px;
    background: white;
    position: absolute;
    opacity: 0;
}

.judgement-line{
    position: absolute;
    bottom: 200px;
    height: 2px;
    width: 100%;
    background-color: white;
    z-index: 2;
}

#judge{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: rgb(27, 212, 245);
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease;
}

#combo{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: rgb(227, 27, 245);
    text-align: center;
}

#score{
    position: absolute;
    top: 50px;
    left: 90%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}