h1{
    font-size: 58px;
    font-weight: bold;
    color: #44485a ;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    height: 120px;
    text-align: center;
}

main{
    width: 80vw;
    height: 300px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
}

#letterArea{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 6em);
}

#keyArea{
    display: flexbox;
}

.letter, .key{
    color: #44485a;
    background-color: #aeb9c5;
    border-radius: 0.5em;
    border-color: #44485a;
    font-size: 2em;
    width: 2.2em;
    height: 2.2em;
    text-align: center;
    padding: 0.2em;
    margin: 0.1em;
    text-transform: uppercase;
}

.letterGray{
    background-color: #838e9a;
}

.letterYellow{
    background-color: #dbbb7c;
}

.letterGreen{
    background-color: #73ac99;
}